In [35]:
# Import Dependencies
import pandas as pd

In [36]:
# Read in data
file_path = 'Resources/Clean/San_Diego_Housing_Data.csv'
data = pd.read_csv(file_path)
data_df = pd.DataFrame(data)
data_df.head()

,Geographic Area Name,Households_Total,"Households_Total_Less than $10,000","Households_Total_$10,000 to $14,999","Households_Total_$15,000 to $24,999","Households_Total_$25,000 to $34,999","Households_Total_$35,000 to $49,999","Households_Total_$50,000 to $74,999","Households_Total_$75,000 to $99,999","Households_Total_$100,000 to $149,999",...,"Nonfamily households_Total_$25,000 to $34,999","Nonfamily households_Total_$35,000 to $49,999","Nonfamily households_Total_$50,000 to $74,999","Nonfamily households_Total_$75,000 to $99,999","Nonfamily households_Total_$100,000 to $149,999","Nonfamily households_Total_$150,000 to $199,999","Nonfamily households_Total_$200,000 or more",Nonfamily households_Median income (dollars),Nonfamily households_Mean income (dollars),Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months
0,91901,6150.0,2.4,1.0,5.3,10.5,8.0,9.4,16.4,19.8,...,23.4,14.8,13.9,12.6,12.3,3.3,2.0,43523.0,62711.0,22.2
1,91902,6045.0,2.8,0.6,3.1,5.1,7.6,12.1,14.3,23.1,...,13.5,19.1,9.8,13.9,18.6,7.8,7.4,70469.0,111325.0,53.8
2,91906,1282.0,4.6,2.7,7.4,12.6,27.1,11.2,6.4,17.9,...,8.9,41.0,7.0,0.8,0.0,4.3,0.0,35991.0,37850.0,38.0
3,91910,24599.0,4.4,5.4,6.7,9.2,10.4,17.0,13.2,17.3,...,11.2,11.9,18.0,10.9,9.1,2.4,2.9,40825.0,56747.0,44.1
4,91911,25145.0,3.2,5.2,7.7,9.7,11.1,18.7,12.1,19.5,...,16.8,14.1,15.6,8.5,6.3,1.6,0.7,33231.0,45098.0,45.0

In [37]:
data_df = data_df.rename(columns={'Geographic Area Name':'Zip_Code'})
data_df.head()

,Zip_Code,Households_Total,"Households_Total_Less than $10,000","Households_Total_$10,000 to $14,999","Households_Total_$15,000 to $24,999","Households_Total_$25,000 to $34,999","Households_Total_$35,000 to $49,999","Households_Total_$50,000 to $74,999","Households_Total_$75,000 to $99,999","Households_Total_$100,000 to $149,999",...,"Nonfamily households_Total_$25,000 to $34,999","Nonfamily households_Total_$35,000 to $49,999","Nonfamily households_Total_$50,000 to $74,999","Nonfamily households_Total_$75,000 to $99,999","Nonfamily households_Total_$100,000 to $149,999","Nonfamily households_Total_$150,000 to $199,999","Nonfamily households_Total_$200,000 or more",Nonfamily households_Median income (dollars),Nonfamily households_Mean income (dollars),Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months
0,91901,6150.0,2.4,1.0,5.3,10.5,8.0,9.4,16.4,19.8,...,23.4,14.8,13.9,12.6,12.3,3.3,2.0,43523.0,62711.0,22.2
1,91902,6045.0,2.8,0.6,3.1,5.1,7.6,12.1,14.3,23.1,...,13.5,19.1,9.8,13.9,18.6,7.8,7.4,70469.0,111325.0,53.8
2,91906,1282.0,4.6,2.7,7.4,12.6,27.1,11.2,6.4,17.9,...,8.9,41.0,7.0,0.8,0.0,4.3,0.0,35991.0,37850.0,38.0
3,91910,24599.0,4.4,5.4,6.7,9.2,10.4,17.0,13.2,17.3,...,11.2,11.9,18.0,10.9,9.1,2.4,2.9,40825.0,56747.0,44.1
4,91911,25145.0,3.2,5.2,7.7,9.7,11.1,18.7,12.1,19.5,...,16.8,14.1,15.6,8.5,6.3,1.6,0.7,33231.0,45098.0,45.0

In [38]:
data_df.columns

Index(['Zip_Code', 'Households_Total', 'Households_Total_Less than $10,000',
       'Households_Total_$10,000 to $14,999',
       'Households_Total_$15,000 to $24,999',
       'Households_Total_$25,000 to $34,999',
       'Households_Total_$35,000 to $49,999',
       'Households_Total_$50,000 to $74,999',
       'Households_Total_$75,000 to $99,999',
       'Households_Total_$100,000 to $149,999',
       'Households_Total_$150,000 to $199,999',
       'Households_Total_$200,000 or more',
       'Households_Median income (dollars)',
       'Households_Mean income (dollars)',
       'Households_PERCENT ALLOCATED_Household income in the past 12 months',
       'Families_Total', 'Families_Total_Less than $10,000',
       'Families_Total_$10,000 to $14,999',
       'Families_Total_$15,000 to $24,999',
       'Families_Total_$25,000 to $34,999',
       'Families_Total_$35,000 to $49,999',
       'Families_Total_$50,000 to $74,999',
       'Families_Total_$75,000 to $99,999',
       'Families_Total_$100,000 to $149,999',
       'Families_Total_$150,000 to $199,999',
       'Families_Total_$200,000 or more', 'Families_Median income (dollars)',
       'Families_Mean income (dollars)',
       'Families_PERCENT ALLOCATED_Family income in the past 12 months',
       'Married-couple families_Total',
       'Married-couple families_Total_Less than $10,000',
       'Married-couple families_Total_$10,000 to $14,999',
       'Married-couple families_Total_$15,000 to $24,999',
       'Married-couple families_Total_$25,000 to $34,999',
       'Married-couple families_Total_$35,000 to $49,999',
       'Married-couple families_Total_$50,000 to $74,999',
       'Married-couple families_Total_$75,000 to $99,999',
       'Married-couple families_Total_$100,000 to $149,999',
       'Married-couple families_Total_$150,000 to $199,999',
       'Married-couple families_Total_$200,000 or more',
       'Married-couple families_Median income (dollars)',
       'Nonfamily households_Total',
       'Nonfamily households_Total_Less than $10,000',
       'Nonfamily households_Total_$10,000 to $14,999',
       'Nonfamily households_Total_$15,000 to $24,999',
       'Nonfamily households_Total_$25,000 to $34,999',
       'Nonfamily households_Total_$35,000 to $49,999',
       'Nonfamily households_Total_$50,000 to $74,999',
       'Nonfamily households_Total_$75,000 to $99,999',
       'Nonfamily households_Total_$100,000 to $149,999',
       'Nonfamily households_Total_$150,000 to $199,999',
       'Nonfamily households_Total_$200,000 or more',
       'Nonfamily households_Median income (dollars)',
       'Nonfamily households_Mean income (dollars)',
       'Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months'],
      dtype='object')

In [39]:
household_df = data_df[['Zip_Code', 'Households_Total',
       'Households_Total_Less than $10,000',
       'Households_Total_$10,000 to $14,999',
       'Households_Total_$15,000 to $24,999',
       'Households_Total_$25,000 to $34,999',
       'Households_Total_$35,000 to $49,999',
       'Households_Total_$50,000 to $74,999',
       'Households_Total_$75,000 to $99,999',
       'Households_Total_$100,000 to $149,999',
       'Households_Total_$150,000 to $199,999',
       'Households_Total_$200,000 or more',
       'Households_Median income (dollars)',
       'Households_Mean income (dollars)',
       'Households_PERCENT ALLOCATED_Household income in the past 12 months']]

clean_household_df = data_df[['Zip_Code', 'Households_Total',
       'Households_Median income (dollars)',
       'Households_Mean income (dollars)',
       'Households_PERCENT ALLOCATED_Household income in the past 12 months']]


clean_household_df.head()

,Zip_Code,Households_Total,Households_Median income (dollars),Households_Mean income (dollars),Households_PERCENT ALLOCATED_Household income in the past 12 months
0,91901,6150.0,93214.0,119653.0,37.2
1,91902,6045.0,106769.0,132519.0,46.6
2,91906,1282.0,48100.0,69435.0,26.6
3,91910,24599.0,70283.0,90646.0,46.8
4,91911,25145.0,65074.0,82231.0,50.9

In [40]:
families_df = data_df[['Zip_Code', 'Families_Total', 
       'Families_Total_Less than $10,000',
       'Families_Total_$10,000 to $14,999',
       'Families_Total_$15,000 to $24,999',
       'Families_Total_$25,000 to $34,999',
       'Families_Total_$35,000 to $49,999',
       'Families_Total_$50,000 to $74,999',
       'Families_Total_$75,000 to $99,999',
       'Families_Total_$100,000 to $149,999',
       'Families_Total_$150,000 to $199,999',
       'Families_Total_$200,000 or more', 'Families_Median income (dollars)',
       'Families_Mean income (dollars)',
       'Families_PERCENT ALLOCATED_Family income in the past 12 months']]

clean_family_df = families_df[['Zip_Code', 'Families_Total', 
       'Families_Median income (dollars)',
       'Families_Mean income (dollars)',
       'Families_PERCENT ALLOCATED_Family income in the past 12 months']]

clean_family_df.head()

,Zip_Code,Families_Total,Families_Median income (dollars),Families_Mean income (dollars),Families_PERCENT ALLOCATED_Family income in the past 12 months
0,91901,4584.0,106557.0,134334.0,41.7
1,91902,4286.0,123750.0,138268.0,43.1
2,91906,911.0,64073.0,80774.0,22.0
3,91910,17756.0,79589.0,100880.0,46.8
4,91911,20275.0,73924.0,88765.0,51.5

In [41]:
nonfamily_df = data_df[['Zip_Code','Nonfamily households_Total',
       'Nonfamily households_Total_Less than $10,000',
       'Nonfamily households_Total_$10,000 to $14,999',
       'Nonfamily households_Total_$15,000 to $24,999',
       'Nonfamily households_Total_$25,000 to $34,999',
       'Nonfamily households_Total_$35,000 to $49,999',
       'Nonfamily households_Total_$50,000 to $74,999',
       'Nonfamily households_Total_$75,000 to $99,999',
       'Nonfamily households_Total_$100,000 to $149,999',
       'Nonfamily households_Total_$150,000 to $199,999',
       'Nonfamily households_Total_$200,000 or more',
       'Nonfamily households_Median income (dollars)',
       'Nonfamily households_Mean income (dollars)',
       'Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months']]

clean_nonfamily_df = nonfamily_df[['Zip_Code','Nonfamily households_Total',
       'Nonfamily households_Median income (dollars)',
       'Nonfamily households_Mean income (dollars)',
       'Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months']]

clean_nonfamily_df.head()

,Zip_Code,Nonfamily households_Total,Nonfamily households_Median income (dollars),Nonfamily households_Mean income (dollars),Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months
0,91901,1566.0,43523.0,62711.0,22.2
1,91902,1759.0,70469.0,111325.0,53.8
2,91906,371.0,35991.0,37850.0,38.0
3,91910,6843.0,40825.0,56747.0,44.1
4,91911,4870.0,33231.0,45098.0,45.0

In [42]:
# Export dataframe as js file 
output_file = 'static/js/household_data.js'
clean_household_df.to_json(output_file, orient='records')

In [43]:
# Export dataframe as js file 
output_file = 'static/js/family_data.js'
clean_family_df.to_json(output_file, orient='records')

In [44]:
# Export dataframe as js file 
output_file = 'static/js/nonfamily_data.js'
clean_nonfamily_df.to_json(output_file, orient='records')

In [45]:
# Export dataframe as js file 
output_file = 'static/js/zip_codes.json'
data_df['Zip_Code'].astype(str).to_json(output_file, orient='split')

In [46]:
# Export dataframe as js file 
#output_file = 'static/js/data.json'
#data_df.to_json(output_file, orient='index')