In [14]:
# Import Dependencies
import pandas as pd

In [15]:
# Read in data
file_path = 'Resources/Clean/San_Diego_Housing_Data.csv'
data = pd.read_csv(file_path)
data_df = pd.DataFrame(data)
data_df.head()

,Zip Code,Households_Total,"Households_Total_Less than $10,000","Households_Total_$10,000 to $14,999","Households_Total_$15,000 to $24,999","Households_Total_$25,000 to $34,999","Households_Total_$35,000 to $49,999","Households_Total_$50,000 to $74,999","Households_Total_$75,000 to $99,999","Households_Total_$100,000 to $149,999",...,"Nonfamily households_Total_$25,000 to $34,999","Nonfamily households_Total_$35,000 to $49,999","Nonfamily households_Total_$50,000 to $74,999","Nonfamily households_Total_$75,000 to $99,999","Nonfamily households_Total_$100,000 to $149,999","Nonfamily households_Total_$150,000 to $199,999","Nonfamily households_Total_$200,000 or more",Nonfamily households_Median income (dollars),Nonfamily households_Mean income (dollars),Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months
0,91901,6150.0,148.0,62.0,326.0,646.0,492.0,578.0,1009.0,1218.0,...,366.0,232.0,218.0,197.0,193.0,52.0,31.0,43523.0,62711.0,22.2
1,91902,6045.0,169.0,36.0,187.0,308.0,459.0,731.0,864.0,1396.0,...,237.0,336.0,172.0,245.0,327.0,137.0,130.0,70469.0,111325.0,53.8
2,91906,1282.0,59.0,35.0,95.0,162.0,347.0,144.0,82.0,229.0,...,33.0,152.0,26.0,3.0,0.0,16.0,0.0,35991.0,37850.0,38.0
3,91910,24599.0,1082.0,1328.0,1648.0,2263.0,2558.0,4182.0,3247.0,4256.0,...,766.0,814.0,1232.0,746.0,623.0,164.0,198.0,40825.0,56747.0,44.1
4,91911,25145.0,805.0,1308.0,1936.0,2439.0,2791.0,4702.0,3043.0,4903.0,...,818.0,687.0,760.0,414.0,307.0,78.0,34.0,33231.0,45098.0,45.0

In [16]:
# Review the column names in the dataframe
data_df.columns

Index(['Zip Code', 'Households_Total', 'Households_Total_Less than $10,000',
       'Households_Total_$10,000 to $14,999',
       'Households_Total_$15,000 to $24,999',
       'Households_Total_$25,000 to $34,999',
       'Households_Total_$35,000 to $49,999',
       'Households_Total_$50,000 to $74,999',
       'Households_Total_$75,000 to $99,999',
       'Households_Total_$100,000 to $149,999',
       'Households_Total_$150,000 to $199,999',
       'Households_Total_$200,000 or more',
       'Households_Median income (dollars)',
       'Households_Mean income (dollars)',
       'Households_PERCENT ALLOCATED_Household income in the past 12 months',
       'Families_Total', 'Families_Total_Less than $10,000',
       'Families_Total_$10,000 to $14,999',
       'Families_Total_$15,000 to $24,999',
       'Families_Total_$25,000 to $34,999',
       'Families_Total_$35,000 to $49,999',
       'Families_Total_$50,000 to $74,999',
       'Families_Total_$75,000 to $99,999',
       'Families_Total_$100,000 to $149,999',
       'Families_Total_$150,000 to $199,999',
       'Families_Total_$200,000 or more', 'Families_Median income (dollars)',
       'Families_Mean income (dollars)',
       'Families_PERCENT ALLOCATED_Family income in the past 12 months',
       'Married-couple families_Total',
       'Married-couple families_Total_Less than $10,000',
       'Married-couple families_Total_$10,000 to $14,999',
       'Married-couple families_Total_$15,000 to $24,999',
       'Married-couple families_Total_$25,000 to $34,999',
       'Married-couple families_Total_$35,000 to $49,999',
       'Married-couple families_Total_$50,000 to $74,999',
       'Married-couple families_Total_$75,000 to $99,999',
       'Married-couple families_Total_$100,000 to $149,999',
       'Married-couple families_Total_$150,000 to $199,999',
       'Married-couple families_Total_$200,000 or more',
       'Married-couple families_Median income (dollars)',
       'Nonfamily households_Total',
       'Nonfamily households_Total_Less than $10,000',
       'Nonfamily households_Total_$10,000 to $14,999',
       'Nonfamily households_Total_$15,000 to $24,999',
       'Nonfamily households_Total_$25,000 to $34,999',
       'Nonfamily households_Total_$35,000 to $49,999',
       'Nonfamily households_Total_$50,000 to $74,999',
       'Nonfamily households_Total_$75,000 to $99,999',
       'Nonfamily households_Total_$100,000 to $149,999',
       'Nonfamily households_Total_$150,000 to $199,999',
       'Nonfamily households_Total_$200,000 or more',
       'Nonfamily households_Median income (dollars)',
       'Nonfamily households_Mean income (dollars)',
       'Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months'],
      dtype='object')

In [17]:
# Create a dataframe for the household data
household_df = data_df[['Zip Code', 'Households_Total',
       'Households_Total_Less than $10,000',
       'Households_Total_$10,000 to $14,999',
       'Households_Total_$15,000 to $24,999',
       'Households_Total_$25,000 to $34,999',
       'Households_Total_$35,000 to $49,999',
       'Households_Total_$50,000 to $74,999',
       'Households_Total_$75,000 to $99,999',
       'Households_Total_$100,000 to $149,999',
       'Households_Total_$150,000 to $199,999',
       'Households_Total_$200,000 or more',
       'Households_Median income (dollars)',
       'Households_Mean income (dollars)',
       'Households_PERCENT ALLOCATED_Household income in the past 12 months']]

clean_household_df = data_df[['Zip Code', 'Households_Total',
       'Households_Median income (dollars)',
       'Households_Mean income (dollars)',
       'Households_PERCENT ALLOCATED_Household income in the past 12 months']]


clean_household_df.head()

,Zip Code,Households_Total,Households_Median income (dollars),Households_Mean income (dollars),Households_PERCENT ALLOCATED_Household income in the past 12 months
0,91901,6150.0,93214.0,119653.0,37.2
1,91902,6045.0,106769.0,132519.0,46.6
2,91906,1282.0,48100.0,69435.0,26.6
3,91910,24599.0,70283.0,90646.0,46.8
4,91911,25145.0,65074.0,82231.0,50.9

In [18]:
# Create a dataframe for the family data
families_df = data_df[['Zip Code', 'Families_Total', 
       'Families_Total_Less than $10,000',
       'Families_Total_$10,000 to $14,999',
       'Families_Total_$15,000 to $24,999',
       'Families_Total_$25,000 to $34,999',
       'Families_Total_$35,000 to $49,999',
       'Families_Total_$50,000 to $74,999',
       'Families_Total_$75,000 to $99,999',
       'Families_Total_$100,000 to $149,999',
       'Families_Total_$150,000 to $199,999',
       'Families_Total_$200,000 or more', 'Families_Median income (dollars)',
       'Families_Mean income (dollars)',
       'Families_PERCENT ALLOCATED_Family income in the past 12 months']]

clean_family_df = families_df[['Zip Code', 'Families_Total', 
       'Families_Median income (dollars)',
       'Families_Mean income (dollars)',
       'Families_PERCENT ALLOCATED_Family income in the past 12 months']]

clean_family_df.head()

,Zip Code,Families_Total,Families_Median income (dollars),Families_Mean income (dollars),Families_PERCENT ALLOCATED_Family income in the past 12 months
0,91901,4584.0,106557.0,134334.0,41.7
1,91902,4286.0,123750.0,138268.0,43.1
2,91906,911.0,64073.0,80774.0,22.0
3,91910,17756.0,79589.0,100880.0,46.8
4,91911,20275.0,73924.0,88765.0,51.5

In [19]:
# Create a dataframe for the non-family data
nonfamily_df = data_df[['Zip Code','Nonfamily households_Total',
       'Nonfamily households_Total_Less than $10,000',
       'Nonfamily households_Total_$10,000 to $14,999',
       'Nonfamily households_Total_$15,000 to $24,999',
       'Nonfamily households_Total_$25,000 to $34,999',
       'Nonfamily households_Total_$35,000 to $49,999',
       'Nonfamily households_Total_$50,000 to $74,999',
       'Nonfamily households_Total_$75,000 to $99,999',
       'Nonfamily households_Total_$100,000 to $149,999',
       'Nonfamily households_Total_$150,000 to $199,999',
       'Nonfamily households_Total_$200,000 or more',
       'Nonfamily households_Median income (dollars)',
       'Nonfamily households_Mean income (dollars)',
       'Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months']]

clean_nonfamily_df = nonfamily_df[['Zip Code','Nonfamily households_Total',
       'Nonfamily households_Median income (dollars)',
       'Nonfamily households_Mean income (dollars)',
       'Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months']]

clean_nonfamily_df.head()

,Zip Code,Nonfamily households_Total,Nonfamily households_Median income (dollars),Nonfamily households_Mean income (dollars),Nonfamily households_PERCENT ALLOCATED_Nonfamily income in the past 12 months
0,91901,1566.0,43523.0,62711.0,22.2
1,91902,1759.0,70469.0,111325.0,53.8
2,91906,371.0,35991.0,37850.0,38.0
3,91910,6843.0,40825.0,56747.0,44.1
4,91911,4870.0,33231.0,45098.0,45.0

In [20]:
# Export dataframe as js file 
output_file = 'static/js/household_data.js'
with open(output_file, 'w') as file:
    file.write('var data = ') 
    clean_household_df.to_json(file, orient='records')

In [21]:
# Export dataframe as js file 
output_file = 'static/js/family_data.js'
with open(output_file, 'w') as file:
    file.write('var data = ') 
    clean_family_df.to_json(file, orient='records')

In [22]:
# Export dataframe as js file 
output_file = 'static/js/nonfamily_data.js'
with open(output_file, 'w') as file:
    file.write('var data = ') 
    clean_nonfamily_df.to_json(file, orient='records')

In [23]:
# Export dataframe as js file 
output_file = 'static/js/zip_codes.json'
data_df['Zip Code'].astype(str).to_json(output_file, orient='split')